{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Kolom Kiri (Menu) -->
        <div class="col-md-4">
            <div class="jumbotron jumbotron-fluid text-center">
                <h1 class="display-4">Menu</h1>
                <!-- Isi menu Anda di sini -->
                <div class="d-flex flex-wrap">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Umum</h5>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button">Normal</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button">Grayscale</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button">Zoom In</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button">Zoom Out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ... Pergeseran ... -->
                    <div class="card mt-2">
                        <div class="card-body">
                            <h5 class="card-title">Pergeseran</h5>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button2">Geser Kiri</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button2">Geser Kanan</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button2">Geser Atas</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button2">Geser Bawah</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Penerangan</h5>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button3">Terang (*)</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button3">Gelap (/)</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('brightness_addition') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button3">Terang (+)</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('brightness_substraction') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button3">Gelap (-)</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filtering</h5>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button4">Edge Detection</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button4">Blur</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary btn-block custom-button4">Sharpening</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Analisis dan Pemrosesan -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Analisis & Pemrosesan</h5>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary custom-button5">Histogram</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary custom-button5">Histogram Equalizer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Segmentation -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Segmentation</h5>
                            <form id="" action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data">
                                <div class="form-row align-items-center">
                                    <label for="lower_thres">Batas Bawah</label>
                                    <input type="number" class="form-control" name="lower_thres" placeholder="0-255">
                                    <label for="upper_thres">Batas Atas</label>
                                    <input type="number" class="form-control" name="upper_thres" placeholder="0-255">
                                    <label>&nbsp;</label> <!-- Label kosong untuk spacing -->
                                    <button type="submit" class="btn btn-primary btn-block custom-button">Thresholding</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Puzzle -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Puzzle Image</h5>
                            <form id="" action="{{ url_for('puzzle') }}" method="POST" enctype="multipart/form-data">
                                <div class="form-row align-items-center">
                                    <label for="num-rows">Input value</label>
                                    <input type="number" min="1" max="10" class="form-control" name="size" placeholder="1-10">
                                    <label>&nbsp;</label> <!-- Label kosong untuk spacing -->
                                    <button type="submit" class="btn btn-primary btn-block custom-button2">Create Puzzle</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Random Puzzle -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Random Puzzle Image</h5>
                            <form id="" action="{{ url_for('random_puzzle') }}" method="POST" enctype="multipart/form-data">
                                <div class="form-row align-items-center">
                                    <label for="num-rows">Input value</label>
                                    <input type="number" min="1" max="10" class="form-control" name="size" placeholder="1-10">
                                    <label>&nbsp;</label> <!-- Label kosong untuk spacing -->
                                    <button type="submit" class="btn btn-primary btn-block custom-button3">Create Random Puzzle</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Dimensions Image -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Get Dimensions Images</h5>
                            <form method="post" action="{{ url_for('show_image_values') }}">
                                <button type="submit" class="btn btn-primary btn-block custom-button4">Dapatkan Dimensi</button>
                            </form>
                        </div>
                    </div>

                    <!-- Dimensions Image -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filtering Images</h5>
                            <form method="post" action="{{ url_for('zero_padding') }}">
                                <button type="submit" class="btn btn-primary btn-block custom-button5">Zero Padding </button>
                            </form><br/>
                            <form method="post" action="{{ url_for('lowFilterPass') }}">
                                <button type="submit" class="btn btn-primary btn-block custom-button">Lowpass Filter </button>
                            </form><br/>
                            <form method="post" action="{{ url_for('highFilterPass') }}">
                                <button type="submit" class="btn btn-primary btn-block custom-button2">Highpass Filter</button>
                            </form><br/>
                            <form method="post" action="{{ url_for('bandFilterPass') }}">
                                <button type="submit" class="btn btn-primary btn-block custom-button3">Bandpass Filter</button>
                            </form>
                        </div>
                    </div>

                    <!-- New Blurring -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">New Blurring</h5>
                            <form id="" action="{{ url_for('newBlurring') }}" method="POST" enctype="multipart/form-data">
                                <div class="form-row align-items-center">
                                    <h6 class="card-title">Blurring</h6><br/>
                                    <label for="value">Input value</label>
                                    <input type="number" class="form-control" name="size" placeholder="0">
                                    <label>&nbsp;</label> <!-- Label kosong untuk spacing -->
                                    <button type="submit" class="btn btn-primary btn-block custom-button">Generate</button>
                                </div>
                            </form>

                            <form id="" action="{{ url_for('gaussianBlur') }}" method="POST" enctype="multipart/form-data">
                                <div class="form-row align-items-center">
                                    <h6 class="card-title">Gaussian Blur</h6><br/>
                                    <label for="value">Input value</label>
                                    <input type="number" class="form-control" name="size" placeholder="0">
                                    <label>&nbsp;</label> <!-- Label kosong untuk spacing -->
                                    <button type="submit" class="btn btn-primary btn-block custom-button">Generate</button>
                                </div>
                            </form>

                            <form id="" action="{{ url_for('medianBlur') }}" method="POST" enctype="multipart/form-data">
                                <div class="form-row align-items-center">
                                    <h6 class="card-title">Median Blur</h6><br/>
                                    <label for="value">Input value</label>
                                    <input type="number" class="form-control" name="size" placeholder="0">
                                    <label>&nbsp;</label> <!-- Label kosong untuk spacing -->
                                    <button type="submit" class="btn btn-primary btn-block custom-button">Generate</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Kolom Kanan (Hasil Foto) -->
        <div class="col-md-8">
            <div class="jumbotron jumbotron-fluid text-center">
                <h1 class="display-4">Hasil Foto</h1>
                <!-- Tampilkan gambar hasil di sini -->
                <!-- <img class="img-fluid" src="{{ url_for('static', filename=file_path) }}" alt="image here"> -->
                <div class="row" id="randomized-images">
                    <div class="random-generate"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // List of image paths
    var image_paths = [
        {% for image_path in image_paths %}
            "{{ image_path }}",
        {% endfor %}
    ];

    // Shuffle Function (Fisher-Yates Algorithm)
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }

    document.addEventListener("DOMContentLoaded", function() {
        var container = document.createElement('div');
        container.classList.add('container', 'mt-4');

        var rows = {{ rows }};
        var cols = {{ cols }};
        var shuffled_paths = shuffleArray(image_paths.slice()); // Copy the array to avoid affecting the original

        // Update the DOM with shuffled images
        for (var i = 0; i < rows; i++) {
            var row = document.createElement('div');
            row.classList.add('row');

            for (var j = 0; j < cols; j++) {
                var col = document.createElement('div');
                col.classList.add('col');

                // Calculate the index
                var index = i * cols + j;

                // Check if index is within bounds
                if (index < shuffled_paths.length) {
                    var image_path = shuffled_paths[index];

                    col.innerHTML = `
                        <img src="${image_path}" alt="Divided Image (Index ${index})" class="img-fluid" style="width: 100%; margin-bottom: 20px">
                    `;
                }

                row.appendChild(col);
            }

            container.appendChild(row);
        }

        // Insert the container after the site nav
        var siteNav = document.querySelector('.random-generate');
        siteNav.insertAdjacentElement('afterend', container);
    });
</script>
{% endblock %}
